.user-view-outer {
  .icons {
    color: #8c8c8c;
    .active {
      color: #00ff0b;
    }
  }
  .card-content {
    .item {
      padding: 10px 0px 10px 0px;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border: none;
      }
      .material-icons {
        vertical-align: middle;
        padding-right: 15px;
      }
    }
    .card-item {
      max-width: 320px;
      min-width: 260px;
    }
  }
}

.tool-box {
  &::after {
    content: ' ';
    clear: both;
    display: block;
  }
}
