@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  50% {
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 10px;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 7px;
}
